<title>Barra lateral</title>
</head>
<link rel="stylesheet" href="/css/main.css">

<body>
    <div id="body"></div>


     <div id="sidebar">

        <ul>
            <li>
                <img src="/multimedia/logocolor.png" alt="Logo Fazt" class="logo">
            </li>
            <a href="http://localhost:4000/roles/lista/1">
                <li>Asignar rol</li>
            </a>
            <a href="http://localhost:4000/promociones/lista/1">
                <li>Promocion tienda</li>
            </a>
            <a href="http://localhost:4000/productos/lista/1">
                <li>Agregar producto</li>
            </a> <a href="http://localhost:4000/comunicados/lista/1">
                <li>Comunicado</li>
            </a>
            <a href="http://localhost:4000/veterinarias/lista/1">
                <li>Agregar veterinarias</li>
            </a>
        </ul>
    </div>

    <br>

    <center>
        <form action="/promociones/lista/{{adminUsuario.idAdmin}}" method="get">
        <h2>Descuentos activos</h2>
        <br>
        <a href="http://localhost:4000/promociones/agregar/1">Agregar nuevo descuento</a>
        {{#each lista}}
        <br><br>
         <div id="titulo">
              <h5>Titulo : {{titulo}}</h5>
            </div>
             <div id="tipoDescuento">
              <h5>Tipo de descuento: {{tipoDescuento}}</h5>
            </div>
             <div id="informacion">
              <h5>Informacion: {{informacion}}</h5>
            </div>
             <div id="marcas">
              <h5>Marcas: {{marcas}}</h5>
            </div>
           
        
       
        <a href="/promociones/editar/{{idPromociones}}"><input type="button" id="boton" value="Actualizar"></input></a>
                <a href="/promociones/eliminar/{{idPromociones}}"><input type="button" id="boton2" value="Eliminar"></input></a>

        </form>
    </center>
    {{/each}}

    </div>

