<link rel="stylesheet" href="/css/perdidos/editar.css">
<link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
      <link rel="stylesheet" href="/css/navegador.css" />

<title>PERDIDOS</title>

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">
                
           <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="http://localhost:4000/adopcion">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->
    <div>
    {{#each lista}}

    <form action="/tienda/editar/{{idtienda}}" method="post" id="contenedor">
    <div id="stitulo">
        <p> Agrega tus productos favoritos </p>
    </div>

    <div id="ImagenPerdido">
        <label>Nombre Producto:</label>
        <input type="text" name="tituloTienda" value="{{tituloTienda}}" required>
    </div>

    <div id="FechaPerdido">
        <label> Tu Producto </label>
        <input type="text" name="fotoTienda" value="{{fotoTienda}}" required>
    </div>
    <div id="FechaPerdido">
        <label> Categoria Producto:</label>
        {{!-- <input type="text" name="FechaPerdido" required>  --}}
               <select name="Categoria" value="{{categoriaTienda}}" >
                    <option>Juguete</option>
                    <option>Comida</option>
                    <option>Ropa</option>
                </select>
    </div>
    <div id="DescripcionPerdido">
        <label>Descripcion:</label>
        <input type="text" name="descripccionTienda" value="{{descripccionTienda}}" required>
    </div>

    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>
<br><br>