<title>Barra lateral</title>
</head>
<link rel="stylesheet" href="/css/veterinaria/main.css">

<body>
    <div id="body"></div>

    <div id="body"></div>

     <div id="sidebar">

        <ul>
            <li>
                <img src="/multimedia/logocolor.png" alt="Logo Fazt" class="logo">
            </li>
            <a href="http://localhost:4000/roles/lista/1">
                <li>Asignar rol</li>
            </a>
            <a href="http://localhost:4000/promociones/lista/1">
                <li>Promocion tienda</li>
            </a>
            <a href="http://localhost:4000/productos/lista/1">
                <li>Agregar producto</li>
            </a> <a href="http://localhost:4000/comunicados/lista/1">
                <li>Comunicado</li>
            </a>
            <a href="http://localhost:4000/veterinarias/lista/1">
                <li>Agregar veterinarias</li>
            </a>
        </ul>
    </div>

    <br>
    {{#each lista}}
    <form action="/veterinarias/editar/{{idVeterinarias}}" method="post">
        <div id="contenido">
            <h2>Actualizar administrador</h2>
            <center>
                <div id="titulo">
                    <h5>titulo</h5>
                    <input type="text" name="titulo" value="{{titulo}}">
                </div>

 <div id="descripcion">
                    <h5>descripcion</h5>
                    <textarea type="text" name="descripcion"> {{descripcion}}</textarea>

                </div>
                <div id="especialidad">
                    <h5> Especialidad:</h5>
                    <select name="especialidad" value="{{especialidad}}">
                         <option>Cirugias</option>
                            <option>Peluqueria</option>
                            <option>Revision</option>

                    </select>
                </div>

                <div id="ciudad">
                    <h5>ciudad</h5>
                    <input type="text" name="ciudad" value="{{ciudad}}">
                </div>

                <div id="contacto">
                    <h5>contacto</h5>
                    <input type="text" name="contacto" value="{{contacto}}">
                </div>

                <div id="ubicacion">
                    <h5>ubicacion</h5>
                    <input type="text" name="ubicacion" value="{{ubicacion}}">
                </div>
                <br>
                <input type="submit" value="actualizar" id="boton1"></input>
                <br>
                <a href="http://localhost:4000/promociones/lista/3"> <input type="submit" id="boton2"
                        value="cancelar"></input></a>
        </div>
    </form>
    </center>

    {{/each}}