<title>Barra lateral</title>
</head>
<link rel="stylesheet" href="/css/veterinaria/main.css">

<body>
    <div id="body"></div>

     <div id="sidebar">

        <ul>
            <li>
                <img src="/multimedia/logocolor.png" alt="Logo Fazt" class="logo">
            </li>
            <a href="http://localhost:4000/roles/lista/1">
                <li>Asignar rol</li>
            </a>
            <a href="http://localhost:4000/promociones/lista/1">
                <li>Promocion tienda</li>
            </a>
            <a href="http://localhost:4000/productos/lista/1">
                <li>Agregar producto</li>
            </a> <a href="http://localhost:4000/comunicados/lista/1">
                <li>Comunicado</li>
            </a>
            <a href="http://localhost:4000/veterinarias/lista/1">
                <li>Agregar veterinarias</li>
            </a>
        </ul>
    </div>

    <br>

    <center>
        <form action="/veterinarias/lista/{{adminUsuario.idAdmin}}" method="get">
        <h2>Veterinarias Recomendadas</h2>
        <br>
        <a href="http://localhost:4000/veterinarias/agregar/1">Agregar nueva veterinaria</a>
        {{#each lista}}
        <br><br>
         <div id="titulo">
              <h5>Titulo : {{titulo}}</h5>
            </div>
             <div id="descripcion">
              <h5>descripcion: {{descripcion}}</h5>
            </div>
             <div id="especialidad">
              <h5>Especialidad: {{especialidad}}</h5>
            </div>
             <div id="ciudad">
              <h5>Ciudad: {{ciudad}}</h5>
            </div>
           
              <div id="contacto">
              <h5>Contacto: {{contacto}}</h5>
            </div>
              <div id="ubicacion">
              <h5>ubicacion: {{ubicacion}}</h5>
            </div>
           
        
       
        <a href="/veterinarias/editar/{{idVeterinarias}}"><input type="button" id="boton" value="Actualizar"></input></a>
                <a href="/veterinarias/eliminar/{{idVeterinarias}}"><input type="button" id="boton2" value="Eliminar"></input></a>

        </form>
    </center>
    {{/each}}

    </div>

