<link rel="stylesheet" href="/css/adopcion/editar.css">
<link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
          <link rel="stylesheet" href="/css/navegador.css" />
<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

                <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="http://localhost:4000/adopcion">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                </li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->
{{#each lista}}
<div id="contenedor">
    <form action="/adopcion/editar/{{idAdopcion}}" method="post">
     <p>Actualizar Perfil</p>
        <div id="titulo">
             <label>Id: </label>
             <input type="text" name="idAdopcion" value="{{idAdopcion}}" readonly  >
        </div>
        <div id="tituloAdopcion">
            <label>Titulo: </label>
            <input type="text" name="tituloAdopcion" value="{{tituloAdopcion}}" required>
        </div>
        <div id="imagenAdopcion">
            <label>Imagen</label>
            <input type="text" name="imagenAdopcion" value="{{imagenAdopcion}}" required>
        </div>
        <div id="descripcionAdopcion">
            <label>Descripcion: </label>
            <input type="text" name="descripcionAdopcion" value="{{descripcionAdopcion}}" required>
        </div>
        <div id="boton">
            <p><button type="submit">Guardar</button></p>
        </div>
    </form>
</div>
{{/each}}