<link rel="stylesheet" href="/css/Denuncialo/lista.css">
<link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
<link rel="stylesheet" href="/css/navegador.css" />
<title>DENUNCIALO</title>

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">
                
           <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="http://localhost:4000/adopcion">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->

<center>
<div id="contenedor">
     <div class="row">
        {{#each lista}}
        <div id="flex-container">
            <div id="caja">
                <p>{{tituloDenuncialo}}</p>
            </div>
           
            <div id="caja">
                <p>{{descripccionDenuncialo}}</p>
            </div>

             <div id="caja">
                <p>{{categoriaDenuncialo}}</p>
            </div>
            <br><br>
            <div id="boton">
                <div id="editar">
                    <a href="/Denuncialo/editar/{{idDenuncialo}}"><button type="button">Editar</button></a>
                </div>
                <div id="eliminar">
                    <a href="/Denuncialo/eliminar/{{idDenuncialo}}"><button type="button">Eliminar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    </div>


</center>

</form>

