
    {{!-- <LINK REL=StyleSheet HREF="/css/preguntasEd.css" TYPE="text/css" MEDIA=screen> --}}
    <link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
    <link rel="stylesheet" href="/css/navegador.css" />
    <link rel="stylesheet" href="/css/preguntas/preguntasEd.css">
    <title>Ayuda Pet</title>


<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">
  <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="http://localhost:4000/adopcion">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->

   <div id="contenedorP">
    {{#each lista}}
    <form action="/preguntas/preguntasEd/{{idAyudaPet}}" method="post"> {{!-aqui puede haber un error por el usuario}}
        <div id="titulo">
            <p>Que deseas cambiar?</p>
        </div>
        <div id="TituloPregunta">
            <label for="">Cual es tu pregunta?</label>
            <input type="text" name="tituloPregunta" value="{{tituloPregunta}}" required >
        </div>
        <div id="DescripcionPregunta">
            <input type="text" name="descripcionPregunta" value="{{descripcionPregunta}}" required placeholder="Detalles de tu pregunta">
        </div>
        <div id="FechaPregunta">
            <input type="date" name="fechaPregunta" value="{{fechaPregunta}}" required>
        </div>
        <div id="horaPregunta">
            <input type="time" name="horaPregunta" value="{{horaPregunta}}" required>
        </div>
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </form>
    {{/each}}
   </div>
   