<link rel="stylesheet" href="/css/preguntas/preguntasEd.css">


   <div id="contenedorP">
    {{#each lista}}
    <form action="/preguntas/preguntasEd/{{idAyudaPet}}" method="post"> {{!-aqui puede haber un error por el usuario}}
        <div id="titulo">
            <p>En que te podemos ayudar</p>
        </div>
        <div id="TituloPregunta">
            <label for="">Cual es tu pregunta?</label>
            <input type="text" name="tituloPregunta" value="{{tituloPregunta}}" required >
        </div>
        <div id="DescripcionPregunta">
            <input type="text" name="descripcionPregunta" value="{{descripcionPregunta}}" required placeholder="Detalles de tu pregunta">
        </div>
        <div id="FechaPregunta">
            <input type="date" name="fechaPregunta" value="{{fechaPregunta}}" required>
        </div>
        <div id="horaPregunta">
            <input type="time" name="horaPregunta" value="{{horaPregunta}}" required>
        </div>
        <div id="boton">
            <button type="submit">Actualizar</button>
        </div>
    </form>
    {{/each}}
   </div>