
<form action="/perdido/lista/{{user.idUsuarios}}" method="get"></form>
 <LINK REL=StyleSheet HREF="/css/perdidos/lista.css" TYPE="text/css" MEDIA=screen>
 <link rel="stylesheet" href="/css/paginaPrincipalCompleta.css" />
      <link rel="stylesheet" href="/css/navegador.css" />

 <body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">
             <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                </li>
            </ul>
        </nav>
    </header>
    <!--Aqui se acaba el nav-->
<div id="contenedor">

    {{!-- <div id="stitulo">
            <p> <strong>AYUDANOS A <BR> ENCONTRARLO</strong></p>
        </div> --}}
    <div>
        {{#each lista}}
        <div id="tarjeta">
            <div id="stitulo">
            <p> <strong>AYUDANOS A <BR> ENCONTRARLO</strong></p>
        </div>
             {{!-- <div id="idPerdido">
                <p>{{ImagenPerdido}}</p>
            </div> --}}
            <div id="imagen">
                <p>{{ImagenPerdido}}</p>
            </div>
            <div id="fecha">
                <p>{{FechaPerdido}}</p>
            </div>
            <div id="descripcion">
                <p>{{DescripcionPerdido}}</p>
            </div>
            <div id="telefono">
                <p>{{TelefonoPerdido}}</p>
            </div>
            <div>
                <div id="editar">
                    <a href="/perdido/editar/{{idPerdido}}"><button type="button" id="b1">EDITAR</button></a>
                </div>
                <div id="eliminar">
                    <a href="/perdido/eliminar/{{idPerdido}}"><button type="button" id="b2">ELIMINAR</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> <br> <br>


</body>