<title>Barra lateral</title>
</head>
<link rel="stylesheet" href="/css/main.css">

<body>
    <div id="body"></div>

     <div id="body"></div>

     <div id="sidebar">

        <ul>
            <li>
                <img src="/multimedia/logocolor.png" alt="Logo Fazt" class="logo">
            </li>
            <a href="http://localhost:4000/roles/lista/1">
                <li>Asignar rol</li>
            </a>
            <a href="http://localhost:4000/promociones/lista/1">
                <li>Promocion tienda</li>
            </a>
            <a href="http://localhost:4000/productos/lista/1">
                <li>Agregar producto</li>
            </a> <a href="http://localhost:4000/comunicados/lista/1">
                <li>Comunicado</li>
            </a>
            <a href="http://localhost:4000/veterinarias/lista/1">
                <li>Agregar veterinarias</li>
            </a>
        </ul>
    </div>

    <br>

    <center>
        <form action="/roles/lista/{{adminUsuario.idAdmin}}" method="get">
        <h2>Asignacion de roles</h2>
        {{#each lista}}
        <br>
         <div id="titulo">
              <h5>Nombre : {{nombre}}</h5>
            </div>
             <div id="titulo">
              <h5>Apellido: {{apellido}}</h5>
            </div>
            <div id="titulo">
              <h5>Cedula: {{cedula}}</h5>
            </div>
        <div id="titulo">
              <h5>Nombre de la ciudad: {{ciudad}}</h5>
            </div>
        
       
        <a href="/roles/editar/{{idAdmin}}"><input type="button" id="boton" value="Actualizar"></input></a>
        </form>
    </center>
    {{/each}}

    </div>

