<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navegador.css" />
    <link rel="stylesheet" href="/css/bells/editarbell.css" />
    <link rel="icon" href="/multimedia/Recurso 4.ico">

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

                
             <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                
                <!--Aqui se acaba-->
            </ul>
        </nav>
    </header>
    {{#each lista}}
<form action="/mascota/editar/{{idMascotas}}" method="post">
    <div id="contenido">
        <div id="titulo">Editar Mascota</div>
        <div id="Nombre">
            <label>nombre</label>
            <input type="text" name="nombre" value="{{nombre}}" required>
        </div>
        <div id="raza">
            <label>raza</label>
            <input type="text" name="raza" value="{{raza}}" required>
        </div>
        <div id="edad">
            <label>edad</label>
            <input type="number" name="edad" value="{{edad}}" required>
        </div>
        <div id="peso">
            <label>peso</label>
            <input type="number" name="peso" value="{{peso}}" required>
        </div>
        <div id="descripcion">
            <label>descripcion</label>
            <input type="text" name="descripcion" value="{{descripcion}}" required>
        </div>
        <div id="foto">
            <label>foto</label>
            <input type="text" name="foto" value="{{foto}}" required>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
{{/each}}