<link rel="stylesheet" href="">
{{#each lista}}
<form action="/mascota/editar/{{idMascotas}}" method="post">
    <div id="contenido">
        <div id="titulo">Editar Mascota</div>
        <div id="Nombre">
            <label>nombre</label>
            <input type="text" name="nombre" value="{{nombre}}" required>
        </div>
        <div id="raza">
            <label>raza</label>
            <input type="text" name="raza" value="{{raza}}" required>
        </div>
        <div id="edad">
            <label>edad</label>
            <input type="number" name="edad" value="{{edad}}" required>
        </div>
        <div id="peso">
            <label>peso</label>
            <input type="number" name="peso" value="{{peso}}" required>
        </div>
        <div id="descripcion">
            <label>descripcion</label>
            <input type="text" name="descripcion" value="{{descripcion}}" required>
        </div>
        <div id="foto">
            <label>foto</label>
            <input type="text" name="foto" value="{{foto}}" required>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
{{/each}}