<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navegador.css" />
    <link rel="stylesheet" href="/css/bells/editarbell.css" />
    <link rel="icon" href="/multimedia/Recurso 4.ico">

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

                
               <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="#">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                
                <!--Aqui se acaba-->
            </ul>
        </nav>
    </header>
    <form action="/mascota/lista/{{user.idUsuarios}}" method="get"></form>
<div id="contenido">
    <div class="raw">
        {{#each lista}}
        <div id="tarjeta">
            <div id="titulo">
                <p>{{nombre}}</p>
            </div>
            <div id="codigo">
                <p>{{raza}}</p>
            </div>
             <div id="codigo">
                <p>{{edad}}</p>
            </div>
             <div id="codigo">
                <p>{{peso}}</p>
            </div>
             <div id="codigo">
                <p>{{descripcion}}</p>
            </div>
             <div id="codigo">
                <p>{{foto}}</p>
            </div>
            <div id="editar">
                <div id="boton">
                    <a href="/mascota/editar/{{idMascotas}}"><button type="button">Editar</button></a>
                </div>
            </div>
            <div id="editar">
                <div id="boton">
                    <a href="/mascota/eliminar/{{idMascotas}}"><button type="button">Eliminar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>