
    <link rel="stylesheet" href="/css/navegador.css" />

    <link rel="icon" href="/multimedia/Recurso 4.ico">

<body
    background="https://static.vecteezy.com/system/resources/previews/002/705/240/large_2x/background-of-dog-paw-prints-vector.jpg">
    <header>
        <nav id="nav">

            <!--Aqui va el nombre-->
            <img id="logo" src="/multimedia/logo-removebg-preview.png">
            <!--Aqui se acaba-->

            <ul id="menu">

             <li><a href="http://localhost:4000/mascota/agregar/1">Mascota</a></li>
                <li><a href="http://localhost:4000/perdido/agregar/1">Perdidos</a></li>
                <li><a href="http://localhost:4000/adopcion">Adopcion</a></li>
                <li><a href="http://localhost:4000/bells/agregar/1">Campañas</a></li>
                <li><a href="http://localhost:4000/denuncialo/agregar/1">Reporte</a></li>
                <li><a href="http://localhost:4000/preguntas/preguntas/1">Ayuda</a></li>
                <li><a href="http://localhost:4000/veterinaria/agregar/1">Veterinaria</a></li>
                <li><a href="http://localhost:4000/tienda/agregar/1">Tienda</a></li>
                <li><a href="http://localhost:4000/login">cerrar sesion</a></li>
                
                <!--Aqui se acaba-->
            </ul>
        </nav>
    </header>
    <form action="/mascota/lista/{{user.idUsuarios}}" method="get"></form>
    <br><br>
    <center>
<div id="contenido">
    <div id="raw">
        {{#each lista}}
        <div id="tarjeta">
            <div id="titulo">
              <h5>Nombre de la mascota</h5>  <p>{{nombre}}</p>
            </div>
            <br>
            <div id="codigo">
               <h4>Raza</h4>  <p>{{raza}}</p>
            </div>
             <div id="codigo">
                <h4>Edad</h4>  <p>{{edad}}</p>
            </div>
             <div id="codigo">
                <h4>Peso</h4>  <p>{{peso}}</p>
            </div>
             <div id="codigo">
               <h4>descripcion</h4>   <p>{{descripcion}}</p>
            </div>
             <div id="codigo">
                <h4>foto</h4>  <p>{{foto}}</p>
            </div>
            <br>
            <div id="editar">
                <div id="boton">
                    <a href="/mascota/editar/{{idMascotas}}"><button type="button">Editar</button></a>
                </div>
            </div>
            <div id="editar">
                <div id="boton">
                    <a href="/mascota/eliminar/{{idMascotas}}"><button type="button">Eliminar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div></center>